[build]
  publish = "/"
  functions = "netlify/functions"

# Redirect all traffic to https
[[redirects]]
  from = "http://*"
  to = "https://:splat"
  status = 301
  force = true

# Set custom headers for enhanced security
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer-when-downgrade"
    Content-Security-Policy = "default-src 'self' cdnjs.cloudflare.com fonts.googleapis.com fonts.gstatic.com; script-src 'self' 'unsafe-inline' cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' cdnjs.cloudflare.com fonts.googleapis.com; img-src 'self' data:; font-src 'self' data: cdnjs.cloudflare.com fonts.gstatic.com;"
